/* Make the caret easier to see */
.editorTab .cm-cursor {
    border-left: 2px solid white !important;
}

/* Make current selection visible */
.editorTab .cm-selectionBackground {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.editorTab .cm-activeLine {
    background-color: rgba(255, 255, 255, 0.2); /* your color */
}

.editorTab .cm-content {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
}

/* Gutter styling */
.editorTab .cm-gutters {
    color:black;
    background-color: white;
}

@media (max-width: 1920px){

    .editorTab .cm-content {
        font-family: "Roboto Mono", monospace;
        font-size: 15.5px;
    }

}