#about{

    transition: width 0.5s ease-in-out, 
                background-color 0.2s ease-in-out,
                border 0.2s ease-in-out,
                color 0.2s ease-in-out;

}

#about:hover{

    background-color: white;
    color: black;

}